body {
    background-image: url(../Imagens/filmes.png);
    margin: 0; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
}

nav ul {
    display: flex;
    align-items: center; 
    margin: 0; 
}

nav li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(243, 243, 243);
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

figure {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}

.lupa img {
    width: 35px; 
    height: 35px;
    margin-left: 10px; 
}



