body{
    background-image: url(../Imagens/filmes.png)
}
nav {
    display: flex;
    justify-content: space-between; /* Alterado para space-between */
    align-items: center;
}

nav ul {
    display: flex;
    /* Remova a largura fixa para permitir que o conteúdo se ajuste automaticamente */
}

nav li {
    list-style: none;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding-top: 15px;
    /* Remova o width e text-align para permitir que o conteúdo se ajuste automaticamente */
}
figure{
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    
}



