
.banner__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    height: 50vh; 
    
}
.banner_container {
    color: white;
}
.banner_container h2{
    font-size: 45px;
    
    padding-left: 65px;
    
}
.button__container {
    display: flex;
    
}

.button1, .button2 {
    background-color: rgb(235, 8, 148);
    color: white;
    border: 2px solid rgb(248, 248, 248); 
    border-radius: 10px; 
    padding: 10px 15px; 
    margin-right: 10px; 
    cursor: pointer; 
    width: 120px;
    height: 38px;
    font-size: 15px;
}

.caracteristicas__container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(110, 100, 110) ;
    margin-bottom: 20px;
    }

.title__caracteristicas {
    font-size: 35px;   
    margin-bottom: 20px; 
    
    
}

.bloco1, .bloco2 {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 8px;
    
}
.bloco2{
    margin-bottom: 15px;
}

.texto1, .texto2, .texto3, .texto4 {
    border: 2px solid; 
    padding: 20px; 
    width: 500px; 
    box-sizing: border-box; 
    background-color: rgb(235, 8, 148);
    border-radius: 10px;
}


.texto1, .texto3 {
    margin-right: 20px;
}

.texto2, .texto4 {
    margin-left: 20px;
}
.bloco1{
    display: flex;
}
.bloco2{
    display: flex;
}



/*parte 3*/

.recomendados__container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    
    
}
.title__recomendados {
    font-size: 35px;   
    margin-bottom: 20px; 
    margin-top: 20px;
}

.img1 img,
.img2 img {
    width: 400px;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 20px;
}